<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">Titulo</div>
      <div class="card-body">
        <form [formGroup]="formulario">
          <div class="row">
            <div class="form-group col-lg-6">
              <label>Nombre</label>
              <input class="form-control" formControlName="nombre" type="text">
            </div>
            <div class="form-group col-lg-6">
                <label>Descripcion</label>
              <input class="form-control" formControlName="descripcion" type="text">
            </div>
            <div class="form-group col-lg-6">
              <label>Tipo</label>
              <select class="form-control" formControlName="id_tipo_mueble">
                <option *ngFor='let item of tiposMuebles' [value]='item.id'>
                  {{item.nombre}}
                </option>
              </select>
            </div>
            <div class="form-group col-lg-6">
                <label>Tipo Linea</label>
                <select class="form-control" formControlName="id_tipo_linea">
                  <option *ngFor='let item of tiposMuebles' [value]='item.id'>
                    {{item.nombre}}
                  </option>
                </select>
            </div>

              <div class="form-group col-lg-2">
                <label>Puertas</label>
                <input class="form-control" formControlName="cantidad_puertas" type="text">
              </div>
              <div class="form-group col-lg-2">
                <label>Cajones</label>
                <input class="form-control" formControlName="cantidad_cajones" type="text">
              </div>
              <div class="form-group col-lg-2">
                <label>Estantes</label>
                <input class="form-control" formControlName="cantidad_estantes" type="text">
              </div>

              <div class="form-group col-lg-2">
                <label>Alto</label>
                <input class="form-control" formControlName="alto" type="text">
              </div>
              <div class="form-group col-lg-2">
                <label>Ancho</label>
                <input class="form-control" formControlName="ancho" type="text">
              </div>
              <div class="form-group col-lg-2">
                <label>Profundidad</label>
                <input class="form-control" formControlName="profundidad" type="text">
              </div>
            <div class="form-group col-lg-2">
              <label>Tapizado</label>
              <select class="form-control" formControlName="tapizado" type="text">
                <option value=0>No</option>
                <option value=1>Si</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button [disabled]="!formulario.valid" (click)="confirmar()"
          >Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>