
<div class="card">
  <div class="card-body">
        
    <table class="table table-hover">
      <thead>
        <tr>
          <th>
            Nombre
          </th>
          <th>
            Descripcion
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of muebles">
          <td>
            {{ item.producto.nombre }}
          </td>
          <td>
            {{ item.producto.descripcion }}
          </td>
          <td>
            <button (click)="ver(item)" >VER</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div>
  <div class="card">
    <div class="card-body">
      <button class="btn btn-primary" (click)="nuevo()"> Nuevo </button >
    </div>
  </div>
</div>
