
<div class="card">
  <div class="card-body">
        
    <table class="table table-hover">
      <thead>
        <tr>
          <th>
            Nombre
          </th>
          <th>
            Descripcion
          </th>
          <th>
            Cantidad
          </th>
          <th>
            Cantidad mínima
          </th>
          <th>
            Precio
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of productos">
          <td>
            {{ item.nombre }}
          </td>
          <td>
            {{ item.descripcion }}
          </td>
          <th>
            {{ item.cantidad}}
          </th>
          <th>
            {{ item.cantidad_minima }}
          </th>
          <th>
            {{ item.precio }}
          </th>
          <td>
            <button (click)="ver(item)" class="btn btn-secondary btn-sm m-1">
              <i class="fa fa-file-text-o "></i>
            </button>
              <button (click)="ver_foto(item)" type="button" class="btn btn-secondary btn-sm m-1">
                <i class="fa fa-image "></i>

              </button>
          
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div>
  <div class="card">
    <div class="card-body">
      <button class="btn btn-primary" (click)="nuevo()"> Nuevo </button >
    </div>
  </div>
</div>
